In [3]:
import pandas as pd
import os

fundamental_folder = "data//fundamental"
fund_files = [file for file in os.listdir(fundamental_folder) if file.endswith("xlsx")]
fund_path = os.path.join(fundamental_folder, fund_files[0])
df1 = pd.read_excel(fund_path, index_col="Symbol")
print(df1.head())

                  Sector  Sharesoutstanding  MarketPrice    EPS  P/E_ratio  \
Symbol
aclbsl      microfinance       3.671434e+06       1035.0  22.27      46.48
adbl    commercial banks       1.385522e+08        285.0  14.61      19.51
ahl           hydropower       3.400000e+06        627.5 -12.02     -52.20
ahpc          hydropower       3.848003e+07        294.1  11.85      24.82
akjcl         hydropower       2.000000e+07        205.0   2.25      91.11

        bookvalue   PBV
Symbol
aclbsl     147.28  7.03
adbl       225.64  1.26
ahl         86.11  7.29
ahpc       109.56  2.68
akjcl       90.04  2.28

In [5]:
df1.index

Index(['aclbsl', 'adbl', 'ahl', 'ahpc', 'akjcl', 'akpl', 'albsl', 'alicl',
       'anlb', 'api',
       ...
       'nlicl', 'nlo', 'nmb', 'nmbmf', 'nmfbs', 'nmic', 'nmlbbl', 'nric',
       'nrm', 'radhi'],
      dtype='object', name='Symbol', length=146)

In [7]:
df1.columns

Index(['Sector', 'Sharesoutstanding', 'MarketPrice', 'EPS', 'P/E_ratio',
       'bookvalue', 'PBV'],
      dtype='object')

In [9]:
df1.describe()

,Sharesoutstanding,MarketPrice,EPS,P/E_ratio,bookvalue,PBV
count,1.460000e+02,146.000000,146.000000,146.000000,146.000000,146.000000
mean,3.937303e+07,913.860000,7.819384,318.650274,164.298973,7.391507
std,6.745931e+07,1477.086445,15.508257,1719.069579,278.987147,10.649073
min,7.286268e+05,200.470000,-53.120000,-853.930000,4.530000,0.490000
25%,5.591246e+06,407.922500,0.830000,18.632500,102.587500,2.842500
50%,1.189712e+07,599.880000,6.945000,53.230000,136.465000,4.805000
75%,3.690904e+07,933.427500,14.295000,129.397500,171.917500,7.432500
max,3.811585e+08,16185.100000,65.430000,19022.220000,3411.780000,87.540000

In [21]:
df1.isnull().sum()

Sector               0
Sharesoutstanding    0
MarketPrice          0
EPS                  0
P/E_ratio            0
bookvalue            0
PBV                  0
dtype: int64

In [11]:
print(type(df1))

<class 'pandas.core.frame.DataFrame'>

In [13]:
import pandas as pd
import os

data_folder = "data/historical"  
all_stocks = {}

for file in os.listdir(data_folder):
    if file.endswith(".xlsx") and not file.startswith("~$"):
        symbol = os.path.splitext(file)[0]
        df = pd.read_excel(os.path.join(data_folder, file))
        all_stocks[symbol] = df

for symbol, data in all_stocks.items():
    print(f"\n--- {symbol} ---")
    print(data.head(2))

--- aclbsl ---
   #   Date      LTP  % Change    High     Low    Open  Qty.   Turnover
0  1  45805  1075.19     -0.34  1080.0  1040.2  1057.4  1787  1895715.7
1  2  45804  1078.91     -1.92  1100.0  1078.0  1100.0  2166  2337817.3

--- adbl ---
   #   Date     LTP  % Change   High    Low   Open   Qty.    Turnover
0  1  45805  299.60      1.75  300.0  291.8  293.0  49484  14693755.4
1  2  45804  294.44     -0.88  296.0  290.0  295.0  37980  11143808.2

--- ahl ---
   #   Date     LTP  % Change   High    Low   Open   Qty.   Turnover
0  1  45805  652.42     -1.76  690.0  645.0  677.0  11680  7856571.9
1  2  45804  664.11     -0.95  669.9  646.9  657.2   2357  1540853.2

--- ahpc ---
   #   Date     LTP  % Change   High    Low   Open    Qty.     Turnover
0  1  45805  290.73      4.23  292.7  279.5  280.0  444839  128011890.3
1  2  45804  278.94     -0.30  284.0  276.2  280.0  182823   51167226.5

--- akjcl ---
   #   Date     LTP  % Change   High    Low   Open    Qty.    Turnover
0  1  45805  208.23      0.79  210.0  202.5  202.5  134788  27993230.3
1  2  45804  206.60     -0.27  207.9  204.1  206.2   95713  19751241.7

--- akpl ---
   #   Date     LTP  % Change   High    Low   Open    Qty.     Turnover
0  1  45805  254.98      5.89  257.5  238.7  240.0  613097  154262002.1
1  2  45804  240.80     -0.07  246.0  240.0  240.0  146728   35555233.3

--- albsl ---
   #   Date     LTP  % Change   High    Low   Open  Qty.   Turnover
0  1  45805  819.64      0.21  833.0  805.1  833.0  5173  4221793.2
1  2  45804  817.94     -2.89  855.0  810.0  825.5  9205  7587229.1

--- alicl ---
   #   Date     LTP  % Change   High    Low   Open    Qty.     Turnover
0  1  45805  696.44     -1.96  715.0  694.0  715.0  238361  166744826.3
1  2  45804  710.33     -0.78  718.0  709.3  717.0   48574   34647045.4

--- anlb ---
   #   Date      LTP  % Change    High     Low    Open  Qty.    Turnover
0  1  45805  5485.52      0.89  5498.0  5345.4  5437.3   337   1819151.9
1  2  45804  5437.30      0.24  5439.0  5331.1  5331.1  3022  16425721.9

--- api ---
   #   Date     LTP  % Change   High    Low   Open    Qty.    Turnover
0  1  45805  296.47      1.72  299.9  289.0  289.0  230582  68142832.5
1  2  45804  291.46      0.10  296.5  287.1  291.0  147141  42973342.4

--- avyan ---
   #   Date      LTP  % Change    High     Low    Open  Qty.   Turnover
0  1  45805  1032.88      1.36  1039.0  1005.0  1019.0  3249  3336703.7
1  2  45804  1019.06     -1.66  1050.0  1017.0  1017.0  6177  6391068.9

--- barun ---
   #   Date     LTP  % Change   High    Low   Open   Qty.    Turnover
0  1  45805  518.95      1.64  523.8  514.0  518.9  91686  47534856.7
1  2  45804  510.59      0.21  520.0  505.3  509.6  59476  30464534.9

--- bbc ---
   #   Date      LTP  % Change    High     Low    Open  Qty.   Turnover
0  1  45805  5681.95      0.02  5765.0  5576.0  5576.0   523  2953686.0
1  2  45804  5680.90      1.03  5695.0  5530.0  5530.0   232  1313363.0

--- bedc ---
   #   Date     LTP  % Change   High    Low   Open    Qty.    Turnover
0  1  45805  808.48      9.15  814.7  751.0  755.5  115485  90524396.0
1  2  45804  740.70     10.00  740.7  665.0  666.0  103061  73891602.5

--- bfc ---
   #   Date     LTP  % Change   High    Low   Open   Qty.   Turnover
0  1  45805  485.09     -0.05  490.0  476.0  483.1  14871  7185073.2
1  2  45804  485.33     -0.48  495.0  484.0  487.0   7656  3727494.9

--- bgwt ---
   #   Date     LTP  % Change   High    Low   Open  Qty.   Turnover
0  1  45805  933.63      1.13  940.4  912.0  920.1  3854  3559635.0
1  2  45804  923.20     -1.55  935.0  921.1  921.1  1289  1190053.6

--- bhdc ---
   #   Date     LTP  % Change   High    Low   Open  Qty.   Turnover
0  1  45805  455.47     -0.27  462.0  453.0  456.7  3518  1603069.7
1  2  45804  456.69     -1.47  463.9  455.0  460.0  4066  1860735.0

--- bhl ---
   #   Date     LTP  % Change   High    Low   Open    Qty.     Turnover
0  1  45805  214.52     -0.50  218.0  213.0  218.0  484935  103842926.7
1  2  45804  215.60     -0.53  219.6  212.5  212.5  146409   31628975.8

--- bhpl ---
   #   Date     LTP  % Change   High    Low   Open   Qty.    Turnover
0  1  45805  817.27     -5.26  879.0  795.9  879.0  23407  19133025.9
1  2  45804  862.61      0.45  905.0  804.0  845.0  11828  10082108.5

--- bnhc ---
   #   Date     LTP  % Change   High    Low   Open   Qty.    Turnover
0  1  45805  534.73      0.81  540.0  524.0  539.9  23075  12287337.0
1  2  45804  530.45      2.46  538.5  507.8  522.0  37088  19538146.6

--- bnl ---
   #   Date      LTP  % Change     High      Low     Open  Qty.  Turnover
0  1  45803  17150.0      3.88  17150.0  16840.2  16840.2    20  339902.0
1  2  45802  16510.0     -1.96  16900.0  16505.0  16900.0    55  917700.0

--- bpcl ---
   #   Date     LTP  % Change   High    Low   Open    Qty.     Turnover
0  1  45805  562.61      5.81  578.0  531.0  531.0  628541  350640652.1
1  2  45804  531.72      7.95  535.5  493.2  495.0  496595  258791522.4

--- cbbl ---
   #   Date     LTP  % Change   High    Low    Open   Qty.    Turnover
0  1  45805  889.37     -0.63  898.9  878.0  894.97  19339  17099257.2
1  2  45804  894.97     -0.64  902.0  891.0  899.00  15553  13955376.2

--- cfcl ---
   #   Date     LTP  % Change   High    Low   Open   Qty.   Turnover
0  1  45805  524.48      0.27  530.0  520.0  530.0   6355  3328267.5
1  2  45804  523.06     -0.69  530.0  520.0  525.0  13693  7161849.0

--- cgh ---
   #   Date     LTP  % Change   High    Low   Open   Qty.    Turnover
0  1  45805  868.99      0.81  879.0  855.1  871.0  11821  10248555.5
1  2  45804  861.97     -0.38  870.0  860.0  866.0  18546  16016870.4

--- chcl ---
   #   Date     LTP  % Change   High    Low   Open   Qty.    Turnover
0  1  45805  495.14      1.65  505.0  483.0  483.0  68368  33898012.5
1  2  45804  487.12     -0.03  492.9  485.0  489.9  24937  12197920.6

--- chdc ---
   #   Date      LTP  % Change    High     Low    Open   Qty.     Turnover
0  1  45805  2509.08     -0.30  2530.0  2496.0  2511.0  42499  106634508.2
1  2  45804  2516.56     -0.52  2560.0  2505.0  2520.0  57643  145728655.9

--- chl ---
   #   Date     LTP  % Change   High    Low   Open   Qty.    Turnover
0  1  45805  286.75      0.61  291.0  280.5  290.7  40373  11576939.5
1  2  45804  285.02     -1.25  293.9  283.0  289.0  32596   9360083.6

--- cit ---
   #   Date      LTP  % Change    High     Low    Open   Qty.    Turnover
0  1  45805  1910.46     -0.46  1919.0  1907.0  1919.0  13345  25493849.0
1  2  45804  1919.32     -0.07  1926.0  1910.1  1910.1   5571  10690299.1

--- city ---
   #   Date     LTP  % Change   High    Low   Open  Qty.   Turnover
0  1  45805  831.21     -0.08  847.9  825.3  831.8  6030  5025628.5
1  2  45804  831.84     -0.94  844.0  830.0  839.0  8741  7293000.1

--- cli ---
   #   Date     LTP  % Change   High    Low   Open   Qty.    Turnover
0  1  45805  478.51     -0.78  486.7  477.0  480.0  34778  16663616.2
1  2  45804  482.26     -1.39  486.0  472.0  484.0  28266  13598552.0

--- corbl ---
   #   Date      LTP  % Change    High     Low    Open   Qty.    Turnover
0  1  45805  2528.25      5.18  2549.9  2443.0  2451.8  11712  29280633.0
1  2  45804  2403.80     10.00  2403.8  2141.7  2141.7  29463  68737185.0

--- crest ---
   #   Date      LTP  % Change    High     Low    Open   Qty.    Turnover
0  1  45805  1710.15     -5.10  1802.0  1700.0  1785.1  47473  82614205.7
1  2  45804  1802.05     -1.71  1830.0  1798.0  1800.0  36957  66932613.3

--- cycl ---
   #   Date      LTP  % Change    High     Low    Open  Qty.   Turnover
0  1  45805  1698.28      0.26  1727.0  1663.3  1663.3  2258  3822985.2
1  2  45804  1693.85     -0.10  1727.0  1665.0  1700.0  4888  8293403.3

--- czbil ---
   #   Date     LTP  % Change   High    Low   Open    Qty.    Turnover
0  1  45805  222.55      2.99  225.0  214.4  217.0  223482  49162254.9
1  2  45804  216.09      1.00  217.0  210.3  212.1   96882  20841817.5

--- ddbl ---
   #   Date     LTP  % Change   High    Low   Open   Qty.   Turnover
0  1  45805  806.94     -0.63  809.9  790.0  802.0  10830  8661760.6
1  2  45804  812.09     -0.85  820.0  808.0  811.0   5370  4353167.4

--- dhpl ---
   #   Date     LTP  % Change   High    Low   Open   Qty.    Turnover
0  1  45805  340.18     -3.91  370.0  335.1  347.0  71198  24265487.3
1  2  45804  354.04      4.20  369.2  333.1  334.2  55812  19259635.6

--- dlbs ---
   #   Date      LTP  % Change    High     Low     Open  Qty.   Turnover
0  1  45805  1450.33      0.02  1452.0  1426.1  1450.00  1611  2326503.7
1  2  45804  1450.00     -2.12  1509.0  1450.0  1481.36  1351  1980165.7

--- dolti ---
   #   Date     LTP  % Change   High    Low   Open  Qty.   Turnover
0  1  45805  556.57      0.27  559.9  546.2  546.3  5192  2881066.8
1  2  45804  555.08      0.03  559.0  544.0  544.0  6385  3533352.2

--- dordi ---
   #   Date     LTP  % Change   High    Low   Open   Qty.    Turnover
0  1  45805  378.84     -2.66  389.1  377.0  384.0  19327   7355702.3
1  2  45804  389.20      2.45  414.5  374.0  379.0  34633  13609953.2

--- ebl ---
   #   Date     LTP  % Change   High    Low   Open    Qty.     Turnover
0  1  45805  663.48      1.40  665.0  643.0  654.0  157427  103637169.7
1  2  45804  654.30      0.59  658.0  645.0  650.0   98118   63906085.4

--- edbl ---
   #   Date     LTP  % Change   High    Low   Open   Qty.   Turnover
0  1  45805  591.23      0.84  609.7  585.0  598.0  10078  5973116.5
1  2  45804  586.30     -0.86  603.0  585.4  603.0  15263  8971755.4

--- ehpl ---
   #   Date     LTP  % Change   High    Low   Open  Qty.   Turnover
0  1  45805  553.86     -2.78  571.7  551.0  561.0  4986  2782531.7
1  2  45804  569.68     -0.57  575.0  565.0  565.6  3069  1741778.8

--- enl ---
   #   Date      LTP  % Change    High     Low    Open  Qty.   Turnover
0  1  45805  1112.00      0.22  1126.9  1098.0  1126.9  1945  2142567.5
1  2  45804  1109.54     -0.33  1125.0  1100.0  1124.0  2220  2472450.0

--- fmdbl ---
   #   Date     LTP  % Change   High    Low   Open   Qty.    Turnover
0  1  45805  751.53     -0.76  755.0  750.0  754.0  17047  12813842.2
1  2  45804  757.29     -1.17  764.0  754.0  754.0   6265   4750872.9

--- fowad ---
   #   Date      LTP  % Change    High     Low    Open  Qty.   Turnover
0  1  45805  1142.98      0.38  1150.0  1121.5  1139.0  2464  2799332.5
1  2  45804  1138.70     -1.08  1150.0  1130.0  1130.0  2471  2815775.8

--- gbbl ---
   #   Date     LTP  % Change   High    Low   Open   Qty.    Turnover
0  1  45805  398.21     -0.31  400.9  395.0  397.0  24848   9869127.5
1  2  45804  399.43      0.35  401.3  391.1  395.0  26265  10486138.5

--- gbime ---
   #   Date     LTP  % Change   High    Low   Open    Qty.     Turnover
0  1  45805  249.27      3.25  250.0  238.4  240.0  735920  180705215.2
1  2  45804  241.43      2.71  253.4  229.3  238.0  601439  144731360.4

--- gblbs ---
   #   Date     LTP  % Change   High    Low   Open  Qty.   Turnover
0  1  45805  817.34      0.21  821.0  800.5  800.5  3817  3101858.4
1  2  45804  815.63     -2.30  828.0  812.0  819.0  8999  7380385.1

--- gcil ---
   #   Date     LTP  % Change   High    Low   Open   Qty.    Turnover
0  1  45805  502.63     -0.05  507.0  497.0  497.0  19785   9912944.0
1  2  45804  502.86     -0.21  508.0  497.0  497.0  32647  16450737.1

--- gfcl ---
   #   Date     LTP  % Change   High    Low   Open   Qty.   Turnover
0  1  45805  636.08     -0.20  640.0  633.1  638.6  11540  7339918.2
1  2  45804  637.37     -1.33  648.0  636.1  645.0   9530  6100139.8

--- ghl ---
   #   Date     LTP  % Change   High    Low   Open    Qty.    Turnover
0  1  45805  247.34      1.08  249.4  241.0  245.0  178693  43720742.0
1  2  45804  244.69     -0.59  249.5  241.4  243.0  163111  39948802.2

--- gilb ---
   #   Date      LTP  % Change    High     Low    Open  Qty.   Turnover
0  1  45805  1325.00     -0.08  1330.0  1309.0  1326.0  2483  3281257.6
1  2  45804  1326.02     -0.44  1400.0  1306.0  1330.0  6259  8383385.9

--- glbsl ---
   #   Date      LTP  % Change    High     Low    Open   Qty.    Turnover
0  1  45805  2498.07      0.95  2524.0  2475.0  2500.0   3858   9637224.0
1  2  45804  2474.51     -7.09  2822.0  2450.0  2610.0  20832  53723484.9

--- glh ---
   #   Date     LTP  % Change   High    Low   Open    Qty.    Turnover
0  1  45805  257.77      1.99  260.0  247.7  247.7   70908  18182727.9
1  2  45804  252.73     -0.01  258.0  247.0  252.0  122661  30916002.1

--- gmfbs ---
   #   Date      LTP  % Change    High     Low    Open  Qty.   Turnover
0  1  45805  1540.10     -1.23  1590.0  1530.0  1590.0   130   201240.8
1  2  45804  1559.24     -1.74  1584.0  1555.2  1584.0  1712  2669786.2

--- gmfil ---
   #   Date     LTP  % Change   High    Low   Open  Qty.   Turnover
0  1  45805  489.51      0.44  492.0  481.0  487.0  6195  3005264.9
1  2  45804  487.35      0.30  499.3  480.0  480.0  3673  1795604.4

--- gmli ---
   #   Date      LTP  % Change    High     Low    Open   Qty.    Turnover
0  1  45805  2544.41     -1.15  2600.0  2535.0  2574.0  17662  44967471.2
1  2  45804  2574.00      0.15  2590.0  2540.0  2540.0  15071  38783128.9

--- grdbl ---
   #   Date      LTP  % Change    High     Low    Open   Qty.    Turnover
0  1  45805  1353.14      9.85  1354.9  1256.4  1256.4  73067  98675447.6
1  2  45804  1231.80     10.00  1231.8  1138.0  1142.0  55556  66659330.9

--- gufl ---
   #   Date     LTP  % Change   High    Low   Open  Qty.   Turnover
0  1  45805  540.36     -0.05  551.0  530.3  545.0  9418  5082979.8
1  2  45804  540.65     -0.61  550.0  540.0  550.0  6184  3363497.7

--- gvl ---
   #   Date     LTP  % Change   High    Low   Open   Qty.   Turnover
0  1  45805  441.06      0.93  443.4  435.0  435.0  17244  7561509.7
1  2  45804  436.98     -0.22  441.3  435.0  438.0  15293  6681841.6

--- hathy ---
   v   Date      LTP  % Change    High     Low    Open   Qty.    Turnover
0  1  45805  1235.67      0.09  1259.2  1198.0  1259.2  12899  15936336.0
1  2  45804  1234.60     -0.67  1255.0  1230.0  1255.0  14535  17971366.5

--- hbl ---
   #   Date     LTP  % Change   High    Low   Open   Qty.    Turnover
0  1  45805  236.25      2.23  239.0  228.0  234.0  91764  21437160.1
1  2  45804  231.09      1.22  232.4  224.0  225.0  47755  10949283.6

--- hdhpc ---
   #   Date     LTP  % Change   High    Low   Open    Qty.    Turnover
0  1  45805  202.51      0.42  204.0  197.7  197.7  156058  31602309.4
1  2  45804  201.67     -0.26  203.0  200.8  202.1   93260  18819139.7

--- hei ---
   #   Date     LTP  % Change   High    Low   Open   Qty.   Turnover
0  1  45805  569.14     -0.33  581.0  560.5  572.0  11324  6399704.6
1  2  45804  571.00      0.46  575.0  566.3  570.0   5054  2887309.5

--- hhl ---
   #   Date     LTP  % Change   High    Low   Open   Qty.   Turnover
0  1  45805  422.95      0.20  429.9  415.0  422.0  14433  6107387.2
1  2  45804  422.12     -0.52  441.0  417.6  432.8   2628  1109076.5

--- hidcl ---
   #   Date     LTP  % Change   High    Low   Open    Qty.     Turnover
0  1  45805  296.45      0.17  301.9  294.1  298.0  354811  105556531.2
1  2  45804  295.96      0.26  300.0  292.0  297.0  229154   67898536.1

--- hlbsl ---
   #   Date    LTP  % Change    High    Low    Open  Qty.   Turnover
0  1  45805  972.5      0.48  980.00  960.4  980.00  1559  1507306.5
1  2  45804  967.9     -1.97  987.36  951.0  987.36  3775  3655096.9

--- hli ---
   #   Date     LTP  % Change   High    Low   Open   Qty.    Turnover
0  1  45805  411.18      0.79  413.0  403.0  405.0  59435  24136178.7
1  2  45804  407.97     -0.80  412.0  407.0  411.0  14865   6070383.7

--- hppl ---
   #   Date     LTP  % Change   High    Low   Open    Qty.    Turnover
0  1  45805  489.66      0.59  502.0  481.3  483.1   97071  47434923.7
1  2  45804  486.79     -1.05  494.7  483.1  490.1  104997  51200371.5

--- hrl ---
   #   Date     LTP  % Change   High    Low   Open    Qty.     Turnover
0  1  45805  936.18      0.09  954.0  932.0  954.0  108795  101739463.9
1  2  45804  935.32     -0.09  942.8  928.0  935.0   89001   83312025.2

--- hurja ---
   #   Date     LTP  % Change   High    Low   Open    Qty.    Turnover
0  1  45805  253.03      2.68  258.0  244.9  249.5  208383  52493892.0
1  2  45804  246.42     -0.36  250.0  242.1  245.0  166290  40872316.8

--- icfc ---
   #   Date     LTP  % Change   High    Low   Open   Qty.    Turnover
0  1  45804  613.91      0.41  623.6  606.2  623.6  14064   8633668.5
1  2  45803  611.43     -0.50  635.0  610.0  626.0  20966  12934149.9

--- igi ---
   #   Date     LTP  % Change   High    Low   Open   Qty.   Turnover
0  1  45805  547.38      0.47  549.0  538.0  538.0  10595  5763487.3
1  2  45804  544.83     -0.72  546.9  544.4  545.0   9486  5176423.7

--- ihl ---
   #   Date     LTP  % Change   High    Low   Open   Qty.   Turnover
0  1  45805  554.37      0.13  560.0  545.0  550.0   7162  3942647.9
1  2  45804  553.67      0.22  560.0  545.0  551.9  10004  5514794.6

--- ilbs ---
   #   Date     LTP  % Change   High    Low   Open  Qty.   Turnover
0  1  45805  879.37     -1.79  890.0  877.0  880.0  1885  1658479.5
1  2  45804  895.40     -0.44  904.9  876.0  885.0   933   827981.5

--- ili ---
   #   Date     LTP  % Change   High    Low   Open   Qty.   Turnover
0  1  45805  454.47     -0.07  456.5  450.4  452.0  21066  9525698.7
1  2  45804  454.81     -0.70  462.0  453.0  455.0  16389  7478319.3

--- jbbl ---
   #   Date     LTP  % Change   High    Low    Open   Qty.    Turnover
0  1  45805  338.24      1.03  339.9  330.5  339.00  36271  12090662.4
1  2  45804  334.79      0.18  339.0  330.0  334.18  24444   8173525.5

--- jblb ---
   #   Date      LTP  % Change    High     Low    Open  Qty.   Turnover
0  1  45805  1306.20     -0.87  1325.0  1302.0  1320.0  3743  4891318.1
1  2  45804  1317.71     -0.95  1330.0  1304.0  1330.0  3488  4609842.8

--- jfl ---
   #   Date     LTP  % Change   High    Low   Open   Qty.   Turnover
0  1  45805  468.38     -1.30  484.0  465.0  484.0  14354  6751845.7
1  2  45804  474.53     -0.71  482.0  468.5  477.9   7785  3703293.5

--- joshi ---
   #   Date     LTP  % Change   High    Low   Open   Qty.    Turnover
0  1  45805  393.26      1.80  400.0  381.5  393.9  44514  17502739.1
1  2  45804  386.30      0.47  392.1  376.7  392.1  29200  11197232.8

--- jslbb ---
   #   Date      LTP  % Change    High     Low    Open  Qty.   Turnover
0  1  45805  1372.93      0.14  1396.0  1348.1  1371.0   298   405639.6
1  2  45804  1371.00     -3.31  1390.1  1362.1  1389.8   866  1184268.0

--- kbl ---
   #   Date     LTP  % Change   High    Low   Open    Qty.     Turnover
0  1  45805  222.07      3.02  224.0  213.0  214.1  985045  216074148.6
1  2  45804  215.57     -0.30  219.0  212.1  215.0  428901   92758774.4

--- kbsh ---
   #   Date     LTP  % Change    High     Low    Open  Qty.   Turnover
0  1  45805  1926.0     -0.21  1940.0  1902.2  1902.2   322   613992.6
1  2  45804  1930.0     -0.58  1980.0  1902.5  1979.1   811  1565104.2

--- kdl ---
   #   Date      LTP  % Change    High     Low    Open  Qty.   Turnover
0  1  45805  1118.05     -1.93  1161.0  1115.3  1161.0  4238  4758318.6
1  2  45804  1140.00      0.42  1140.0  1118.0  1118.0  1161  1305861.5

--- kkhc ---
   #   Date     LTP  % Change   High    Low   Open   Qty.   Turnover
0  1  45805  345.83      0.49  350.0  340.3  350.0  18022  6206368.4
1  2  45804  344.16      0.33  347.9  340.0  341.5  14456  4951359.6

--- kmcdb ---
   #   Date      LTP  % Change    High     Low    Open  Qty.   Turnover
0  1  45805  1045.93     -0.70  1060.0  1020.0  1055.0  5641  5832199.0
1  2  45804  1053.33     -1.74  1081.9  1040.0  1060.1  2877  3050432.7

--- kpcl ---
   #   Date     LTP  % Change   High    Low   Open   Qty.    Turnover
0  1  45805  526.07      -0.1  558.0  520.5  537.1   8669   4552790.6
1  2  45804  526.61       1.5  536.0  518.0  518.0  39731  20874028.1

--- ksbbl ---
   #   Date     LTP  % Change   High    Low   Open   Qty.    Turnover

In [15]:
data.index

RangeIndex(start=0, stop=500, step=1)

In [17]:
data.columns

Index(['#', 'Date', 'LTP', '% Change', 'High', 'Low', 'Open', 'Qty.',
       'Turnover'],
      dtype='object')

In [19]:
data.describe()

,#,Date,LTP,% Change,High,Low,Open,Qty.,Turnover
count,500.000000,500.000000,500.000000,500.00000,500.000000,500.00000,500.000000,5.000000e+02,5.000000e+02
mean,250.500000,45410.552000,317.659700,0.27126,325.124000,311.61590,317.721900,1.341988e+05,6.319400e+07
std,144.481833,230.387926,121.417377,2.46641,124.986649,117.90725,120.432995,2.117680e+05,1.342274e+08
min,1.000000,45019.000000,202.000000,-6.49000,205.000000,200.60000,203.100000,4.450000e+02,9.648100e+04
25%,125.750000,45206.250000,235.800000,-1.25000,240.000000,231.00000,235.000000,2.296500e+04,5.520366e+06
50%,250.500000,45413.000000,257.000000,-0.03500,263.000000,253.15000,258.500000,4.926200e+04,1.395345e+07
75%,375.250000,45610.750000,393.000000,1.46250,402.000000,387.32500,393.075000,1.208665e+05,3.975430e+07
max,500.000000,45810.000000,801.770000,9.97000,814.400000,790.00000,809.400000,1.243539e+06,7.605812e+08

In [23]:
data.isnull().sum()

#           0
Date        0
LTP         0
% Change    0
High        0
Low         0
Open        0
Qty.        0
Turnover    0
dtype: int64